@use '../../abstracts/variables';
@use '../../base/fonts';
@use '../../abstracts/mixins';


.customers {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* evita que algo se salga */
  width: 100vw;
  height: 100vh;
  position: relative;
  height: 100vh;
  width: 100vw;
  background-image: url('/img/profesiones.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center
}

.customers__container {
  display: flex;
}

.customers__text {
  width: 40%;
  text-align: center;
  @include mixins.font(variables.$color-negro, 2em, 100);
  border: 2px solid variables.$color-negro;
  background-color: variables.$color-rojo;

  h1 {
    display: flex;
    justify-content: center;
    font-weight: 400;
  }

}

.customers__names {
  @include mixins.font(variables.$color-blanco, 2em, 200);
  background-color: variables.$color-negro;
  width: 60%;

  h1 {
    display: flex;
    justify-content: center;
    font-weight: 300;
    gap: 2em;
    word-spacing: 0.5em;
  }

}

.customers__image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  flex-shrink: 0;
  margin-top: 40px;
  position: fixed
}

//Animación
.customers__names {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  display: flex
}

.customers__names h1 {
  display: inline-block;
  animation: moveText 32s linear infinite;
  padding-right: 0.1em
}


.customers__names h1::after {
  content: "SEADRILL MÉXICO TECPETROL OCTAL DE MÉXICO PEMEX-PEP BORR DRILLING MICROANÁLISIS PERFOMEX PEMEX-TRI CENAGAS JAGUAR EXPLORACIÓN Y PRODUCCIÓN REPSOL EXPLORACIÓN MÉXICO NOBLE CORP FONTIS ENERGY CFE PERENCO MÉXICO OPEX PERENCO GUATEMALA CLARIANT";
  padding-left: 0.1em;
}

@keyframes moveText {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

/* Ajustar el texto en una línea y permitir movimiento continuo */
.customers__names h1 {
  min-width: 600%;
}