<div class="carousel-container">

    <div class="carousel-track">

     


        <!-- FEBRERO -->


    

       

   

      



       

        <!-- MARZO  -->

+

      

       

     



        <div class="relevant-card">
            <div class="relevant-card__header">
                <h3 class="relevant-card__title title-destacado">
                    Certificación IADC WellSharp – Introductorio <br>
                    <span class="title-sub">(2 días – 16 horas)</span>
                </h3>
            </div>
            <div class="relevant-card__fecha">
                <span class="badge-fecha-alerta">
                    ⏰ Fecha de registro: 04/Mar
                </span>
            </div>
            <div class="relevant-card__footer">
                <div class="relevant-card__date date-destacada">
                    <svg width="16" height="16" viewBox="0 0 24 24" fill="white">
                        <path
                            d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9-2 2-2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z" />
                    </svg>
                    Marzo 27 – 28
                </div>
            </div>

            <div class="relevant-card__action">
                <a href="#" class="btn-contacto"
                    onclick="document.getElementById('CONTACTANOS_ID').scrollIntoView({ behavior: 'smooth' }); return false;">
                    Contáctanos
                </a>
            </div>
        </div>


    </div>

</div>